#portfolio {
    h2{
        font-weight: bold;
    }
    .star{
        color: rgb(31, 29, 29);
    }
    .line{
        border-color: rgb(31, 29, 29);
        width: 60px;
    }
  img {
    width: 100%;
  }
}